<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">EnglishLearning Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="" routerLink="uploaded-files">Uploaded files<span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href="" routerLink="grammar-analyse/list">Grammar analysis<span class="sr-only"></span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tasks
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="tasks/items">
                <div class="dropdown-content">
                  <span class="users-dropdown">Items</span>
                </div>
              </a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!authService.isAuthentificated">
              <a class="nav-link" routerLink="sign_in">Sign In</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isAuthentificated">
              <a class="nav-link" routerLink="sign_up" *ngIf="!authService.isAuthentificated">Sign Up</a>
          </li>

          <li class="nav-item dropdown personal-cabinet" *ngIf="authService.isAuthentificated">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">account_circle</i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="authService.logout()">
                <div class="dropdown-content">
                  <i class="material-icons">exit_to_app</i>
                  <span class="users-dropdown"><strong>Sing Out</strong></span>
                </div>
              </a>
            </div>
          </li>
        </ul>
    </div>
</nav>
