<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form class="needs-validation" [formGroup]="uploadForm" (ngSubmit)="onUploadFile()" novalidate>
                <div class="col-5">
                    <div class="row">
                        <div class="field-header">Path:</div>
                        <div class="path-info">
                            "{{ folderPath$ | async }}"
                        </div>
                    
                    </div>
                </div>

                <h5 *ngIf="metadataIndexes.length > 0">Metadata:</h5>
                <div *ngFor="let metadataIndex of metadataIndexes;" class="row metadata-container">
                    <div class="col-md-5">
                        <label for="{{ metadataIndex }}-key">Key</label>
                        <input
                            type="text"
                            class="form-control"
                            [id]="getMetadataKeyIndex(metadataIndex)"
                            [name]="getMetadataKeyIndex(metadataIndex)"
                            [formControlName]="getMetadataKeyIndex(metadataIndex)">
        
                        <div *ngIf="getMetadataKeyControl(metadataIndex).invalid">
                            <div *ngIf="getMetadataKeyControl(metadataIndex).errors.required && (getMetadataKeyControl(metadataIndex).dirty ||  getMetadataKeyControl(metadataIndex).touched)" class="form-error">
                                Key is required.
                            </div>
                            <div *ngIf="getMetadataKeyControl(metadataIndex).errors.maxlength" class="form-error">
                                Max length is 50 symbols.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label [for]="getMetadataValueIndex(metadataIndex)">Value</label>
                        <input
                            type="text"
                            class="form-control"
                            [id]="getMetadataValueIndex(metadataIndex)"
                            [name]="getMetadataValueIndex(metadataIndex)"
                            [formControlName]="getMetadataValueIndex(metadataIndex)">

                        <div *ngIf="getMetadataValueControl(metadataIndex).invalid">
                             <div *ngIf="getMetadataValueControl(metadataIndex).errors.required && (getMetadataValueControl(metadataIndex).dirty ||  getMetadataValueControl(metadataIndex).touched)" class="form-error">
                                Value is required.
                            </div>
                            <div *ngIf="getMetadataValueControl(metadataIndex).errors.maxlength" class="form-error">
                                Max length is 100 symbols.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label></label>
                        <button type="button" class="btn btn-danger" (click)="onRemoveMetadata(metadataIndex)">Remove</button>
                    </div>
                </div> 

                <div class="form-line">
                    <button type="button" class="btn btn-success" (click)="onAddMetadata()">Add Metadata</button>
                </div>

                <div class="form-line">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Upload file</button>
                </div>
            </form>
        </div>
    </div>
</div>
