.form-line {
    margin-top: 15px;
}

.form-error {
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.path-info {
    margin-left: 20px;
}

.field-header {
    font-weight: bold;
}

.name-container {
    padding: 0 !important;
}

.file-container {
    margin-top: 15px;
    padding: 0 !important;
}

.file-label {
    display: block;
}

.remove-padding {
    padding: 0 !important;
}