<div class="grid-wrapper">
    <ag-grid-angular 
        #agGrid style="width: 100%; height: 100%;"
        id="grammar-grid" class="ag-theme-alpine"
        [rowData]="taskItems"
        [columnDefs]="columnDefs" 
        [defaultColDef]="defaultColDef"
        [treeData]="true"
        [animateRows]="true"
        [autoGroupColumnDef]="autoGroupColumnDef"
        [groupDefaultExpanded]="groupDefaultExpanded"
        [getDataPath]="getDataPath"
        [getContextMenuItems]="getContextMenuItems"
        [getRowNodeId]="getRowNodeId"
        [rowSelection]="'multiple'"
        [suppressRowClickSelection]="true"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged()">
    </ag-grid-angular>
</div>
