.task-container {
    margin-top: 15px;
}

.spinner-container {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-item {
    margin: auto;    
}

.spinner-item {
    height: 60px;
    width: 60px;
}
