.task-info h5,p {
    font-size: 16px;
    margin-bottom: 1rem;
    line-height: 1;
}

.task-info p {
    margin-left: 5px;
}

.info-item {
    margin-left: 20px;
}

.header-container {
    color: #22b24c;
    box-shadow: 0 0 0 0;
}

.button-container {
    margin-bottom: 5px;
}