.container-filter {
    margin-top: 30px;
    border-right:1px solid #000;
    padding-right: 10px;
    padding-left: 20px;
}

.filter-header {
    text-align: center;
    vertical-align: middle;
    height: 80px;
}

.filter-item-header {
    text-align: center;
    vertical-align: middle;
}

.container-tasks {
    margin-top: 30px;
    padding-right: 15px;
    padding-left: 50px;
}

#search-btn {
    margin: 0 auto;
    display: block;
}