<div class="row word-container">
    <div class="col-2"></div>
    <div class="col-8">
        <ng-container *ngIf="wordSearch$ | async as wordSearch">
            <ng-container *ngIf="wordSearch.word">
                <app-word-details [wordDetails]="wordSearch.word"></app-word-details>
            </ng-container>

            <ng-container *ngIf="wordSearch.similarWords && wordSearch.similarWords.length > 0">
                <div>
                    <p class="info-text">Not found word "{{word}}".</p>
                </div>
                <div>
                    <p class="info-text">Did you mean:</p>
                </div>
                <div>
                    <app-word-list [words]="wordSearch.similarWords">
                    </app-word-list>
                </div>
            </ng-container>

            <ng-container *ngIf="!wordSearch.word && wordSearch.similarWords && wordSearch.similarWords.length === 0">
                <div>
                    <p class="info-text">Not found word "{{word}}".</p>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>