<ng-container *ngIf="trainModel">
    {{ trainModel.taskType }}
    <ng-container *ngIf="trainModel.taskType === 'Audio'">
        <ng-container *ngIf="audioTask$ | async as audioTask">
            {{audioTask.englishLevel}}
        </ng-container>
    </ng-container>

    <ng-container *ngIf="trainModel.taskType !== 'Audio'">
        <ng-container *ngIf="randomTask$ | async as randomTask">
            <app-task [task]="randomTask" (completedTask)="onCompletedRandomTask($event)"></app-task>
        </ng-container>
    </ng-container>
</ng-container>
