<ng-container *ngIf="trainModel">
    <ng-container *ngIf="trainModel.taskType === 'Audio'">
        <ng-container *ngIf="audioTask$ | async as audioTask">
            <app-task-audio [task]="audioTask" (completedTask)="onCompletedAudioTask($event)">
            </app-task-audio>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="trainModel.taskType !== 'Audio'">
        <ng-container *ngIf="randomTask$ | async as randomTask">
            <app-task [task]="randomTask" (completedTask)="onCompletedRandomTask($event)"></app-task>
        </ng-container>
    </ng-container>
</ng-container>
