<div class="container">
    <div *ngIf="courseItems$ | async as items" class="items-container">
        <div *ngFor="let item of items">
            <ng-container [ngSwitch]="item.type">
                <div *ngSwitchCase="'Task'" class="course-item">
                    <app-task-course-item-container
                        [courseItem]="getTaskItem(item)"
                        (trainTask)="onTaskTrain($event)"
                        >
                    </app-task-course-item-container>
                </div>

                <div *ngSwitchCase="'Dictionary'" class="course-item">
                    <app-dictionary-course-item-container
                        [courseItem]="getDictionaryItem(item)"
                        (trainTopic)="onTopicTrain($event)">
                    </app-dictionary-course-item-container>
                </div>
            </ng-container>
        </div>
    </div>
</div>