<div class="row">
    <div class="col-12">
        <div class="accordion" [id]="getAccordionId()">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block header-container text-left collapsed" type="button" data-toggle="collapse"
                            [attr.data-target]="getTargetId()">
                            <h5>{{courseItem.grammarPart}}</h5>
                            <div>
                                Result
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [ngClass]="getProgressBarClass()" [ngStyle]="getProgressBarStyle()"></div>
                            </div>
                        </button>
                    </h2>
                </div>

                <div [id]="getId()" class="collapse" [attr.data-parent]="getTargetAccordionId()">
                    <div class="card-body">
                        <div class="row info-item">
                            <div class="task-info">
                                <h5>Completed Tasks:</h5>
                            </div>
                            <div class="task-info">
                                <p>{{ getCompletedTasks() }}</p>
                            </div>
                        </div>
                        <div class="row info-item">
                            <div class="task-info">
                                <h5>Avg result:</h5>
                            </div>
                            <div class="task-info">
                                <p>{{ getPercentage() }}%<p>
                            </div>
                        </div>

                        <div class="info-item">
                            <button type="button" class="btn btn-info" (click)="onTrainTask()">Train</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>