.form-line {
    margin-top: 15px;
}

.field-header {
    font-weight: bold;
}

.file-name-prop {
    width: 100px;
}

.input-container {
    padding: 0;
}

.form-error {
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
