<div class="accordion" id="word-list-accordion">
    <div class="card" *ngFor="let word of words">
        <div class="card-header">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    [attr.data-target]="getDataTarget(word)" [aria-controls]="getWordId(word)">
                    <h5>{{word.word}}</h5>
                </button>
            </h2>
        </div>

        <div [id]="getWordId(word)" class="collapse" data-parent="#word-list-accordion">
            <ng-container *ngFor="let details of word.wordDefinitions">
                <div class="card-body">
                    <h5 class="card-title">{{details.partOfSpeech}}</h5>
                    <div>
                        <p class="card-text">{{details.definition}}</p>
                    </div>
        
                    <ng-container *ngIf="details.examples && details.examples.length > 0">
                        <div class="content-container">
                            <h6 class="card-subtitle text-muted">Examples:</h6>
                            <div *ngFor="let example of details.examples">
                                <em>{{example}}</em>
                            </div>
                        </div>
                    </ng-container>
        
                    <ng-container *ngIf="details.synonyms && details.synonyms.length > 0">
                        <div class="content-container">
                            <h6 class="card-subtitle text-muted">Synonyms:</h6>
                            <app-word-list [words]="details.synonyms">
                            </app-word-list>
                        </div>
                    </ng-container>
                </div>
                <hr>
            </ng-container>
        </div>
    </div>
</div>