<div class="row">
  <div class="col-1"></div>
  <div class="col-10 container">
    <div class="jumbotron">
      <h1 class="display-3">Welcome!</h1>
      <p class="lead">Here you can improve your knowledges and become fluent in English.</p>
      <hr class="my-4">
      <p>This site is made for people who want to improve their knowledges in grammar, improve their reading and
        listening skills.<br>
        With our site you can study everywhere where is avaliable the Internet.
      </p>
    </div>

    <div class="row info-card-container">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/tests-card.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Tasks</h4>
            <p class="card-text">
              Grammar is important because it is the language that makes it possible for us to talk about language. 
              And our tasks will help you to deal with it.
            </p>
          </div>
          <div class="card-footer">
            <a routerLink="tasks/list" class="btn btn-primary">Start learning with Tasks!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/videos-card.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Videos</h4>
            <p class="card-text">
              Watching videos will help you to improve your understanding of the language and your pronunciation.
              We have big amout of videos that will help you with it.
            </p>
          </div>
          <div class="card-footer">
            <a routerLink="multimedia/video_list" class="btn btn-primary">Start learning with Videos!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/texts-card.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Texts</h4>
            <p class="card-text">Reading is important to develop language skills. 
              Reading allows students to see grammatically correct sentences in context and this can serve as a model for their own writing. 
              With our big library of texts you can find texts for your preferences.
            </p>
          </div>
          <div class="card-footer">
            <a routerLink="multimedia/text_list" class="btn btn-primary">Start learning with Texts!</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-1"></div>
</div>