<div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="../../../assets/english_icon.svg" alt="" width="72" height="72">
      <h2>English Learning SignIn form</h2>
    </div>
  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form class="needs-validation" [formGroup]="validationForm" (ngSubmit)="onSignIn()" novalidate>
  
          <div class="mb-3">
            <label for="email">Email </label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="you@example.com">
            <div *ngIf="validationForm.controls['email'].invalid && (validationForm.controls['email'].dirty || validationForm.controls['email'].touched)">
              <p>Please enter a valid email address.</p>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Password">
            <div *ngIf="validationForm.controls['password'].invalid && (validationForm.controls['password'].dirty || validationForm.controls['password'].touched)">
              <p>Please enter correct password.</p>
            </div>
            <div *ngIf="incorrecPassword">
                <p>Incorrect passoword or email.</p>
              </div>
          </div>

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="validationForm.pristine || validationForm.invalid">Sign in</button>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>