<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">EnglishLearning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="" routerLink="tasks/list">Tasks<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Multimedia
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="multimedia/video_list">Videos</a>
          <a class="dropdown-item" routerLink="multimedia/text_list">Texts</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dictionary
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="dictionary/word">Search</a>
          <a class="dropdown-item" routerLink="dictionary/list" *ngIf="authService.isAuthentificated">List</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!authService.isAuthentificated">
          <a class="nav-link" routerLink="sign_in">Sign In</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isAuthentificated">
          <a class="nav-link" routerLink="sign_up" *ngIf="!authService.isAuthentificated">Sign Up</a>
      </li>
      <!-- <li class="nav-item" *ngIf="authService.isAuthentificated">
          <a class="nav-link" (click)="authService.logout()" >
            <i class="material-icons">face</i>
          </a>
      </li> -->
      <li class="nav-item dropdown personal-cabinet" *ngIf="authService.isAuthentificated">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">account_circle</i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="statistic/completed">
            <div class="dropdown-content">
              <i class="material-icons">data_usage</i>
              <span class="users-dropdown"><strong>Statistic</strong></span>
            </div>
          </a>
          <a class="dropdown-item" (click)="authService.logout()">
            <div class="dropdown-content">
              <i class="material-icons">exit_to_app</i>
              <span class="users-dropdown"><strong>Sing Out</strong></span>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
