<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">EnglishLearning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="" routerLink="tasks_list">Tasks<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Multimedia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!authService.isAuthentificated">
          <a class="nav-link" routerLink="sign_in">Sign In</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isAuthentificated">
          <a class="nav-link" routerLink="sign_up" *ngIf="!authService.isAuthentificated">Sign Up</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthentificated">
          <a class="nav-link" (click)="authService.logout()" >Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
