<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="row">
      <div class="col-6">
        <app-multimedia-level-statistic [levelStatistic]="fullStatistic.perMultimediaLevelsStatistic">
        </app-multimedia-level-statistic>
      </div>
      <div class="col-6">
        <app-tasks-level-statistic [levelStatistic]="fullStatistic.perTasksLevelsStatistic"></app-tasks-level-statistic>
      </div>
    </div>
    <div class="col-6">
      <app-tasks-correctness-statistic [tasksCorrectness]="fullStatistic.tasksCorrectnessStatistic"></app-tasks-correctness-statistic>
    </div>
    <div class="header-container">
      <h3>Your completed tasks, and watched multimedia</h3>
    </div>
    <div class="content-container">
      <div *ngFor="let completedStatisticItem of completedStatistic">
        <app-completed-statistic-item [completedStatistic]="completedStatisticItem"></app-completed-statistic-item>
      </div>
    </div>
  </div>
</div>