<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="row">
      <div class="col-6">
        <app-multimedia-level-statistic [levelStatistic]="fullStatistic.perMultimediaEnglishLevelsStatistic">
        </app-multimedia-level-statistic>
      </div>
      <div class="col-6">
        <app-tasks-level-statistic [levelStatistic]="fullStatistic.perTasksEnglishLevelsStatistic"></app-tasks-level-statistic>
      </div>
    </div>
    <div class="col-6">
      <app-tasks-correctness-statistic [tasksCorrectness]="fullStatistic.tasksCorrectnessStatistic">
      </app-tasks-correctness-statistic>
    </div>
    <div class="row top-list">
      <div class="col-6">
        <h3>Your favourites types of videos:</h3>
        <div *ngFor="let topVideoType of topVideoTypes; let i = index">
          <h4>{{i + 1}}. {{topVideoType}}</h4>
        </div>
      </div>
      <div class="col-6">
        <h3>Your favourites types of texts:</h3>
        <div *ngFor="let topTextType of topTextTypes; let i = index">
            <h4>{{i + 1}}. {{topTextType}}</h4>
          </div>
      </div>
    </div>
    <div>
      <app-last-month-statistic [perDayStatistics]="fullStatistic.perDayStatistic"></app-last-month-statistic>
    </div>
    <div class="header-container">
      <h3>Your completed tasks, and watched multimedia</h3>
    </div>
    <div class="content-container">
      <div *ngFor="let completedStatisticItem of completedStatistic">
        <app-completed-statistic-item [completedStatistic]="completedStatisticItem"></app-completed-statistic-item>
      </div>
    </div>
  </div>
</div>